@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
    --primary: #f8f1ff;
    --secondary: #decdf5;
    --accent: #1b998b;
}

html {
    font-family: "Inter", sans-serif;
}
